@model Ginosis.Banat.MvcWebUI.Models.Account.CreateAccountViewModel
@using System.Web.Optimization


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ginosis E-Mutabakat Sistemi</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    @Styles.Render("~/bundle/GlobalStylesheets")
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    @Scripts.Render("~/bundle/CoreJsFiles")
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="~/global_assets/js/plugins/forms/styling/uniform.min.js"></script>

    @Scripts.Render("~/bundle/AppJs")
    @*<script src="~/global_assets/js/demo_pages/login.js"></script>*@
    <!-- /theme JS files -->
    <script>


        

 /* ------------------------------------------------------------------------------
 *
 *  # Login pages
 *
 *  Demo JS code for a set of login and registration pages
 *
 * ---------------------------------------------------------------------------- */



        // Setup module

        // ------------------------------


        var LoginRegistration = function () {



            //

            // Setup module components

            //


            // Uniform

            var _componentUniform = function () {

                if (!$().uniform) {

                    console.warn('Warning - uniform.min.js is not loaded.');

                    return;

                }


                // Initialize

                $('.form-input-styled').uniform();

            };



            //

            // Return objects assigned to module

            //


            return {

                initComponents: function () {

                    _componentUniform();

                }

            }

        }();



        // Initialize module

        // ------------------------------


        document.addEventListener('DOMContentLoaded', function () {

            LoginRegistration.initComponents();

        });


    </script>
    
</head>
<body>
        <!-- Main navbar -->
        <div class="navbar navbar-expand-md navbar-dark">
            <div class="navbar-brand">
                <a href="index.html" class="d-inline-block">
                    <img src="#" alt="">
                </a>
            </div>

            
        </div>
        <!-- /main navbar -->
        
    
<!-- Page content -->
<div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">

            <!-- Registration form -->
            @*<form action="index.html" class="flex-fill">*@
            @using (Html.BeginForm("CreateAccount", "Account", FormMethod.Post, new {@class = "flex-fill", @id = "CreateAccount"}))
            {
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
                                    <h5 class="mb-0">Yeni Hesap Oluştur</h5>
                                    <span class="d-block text-muted">Tüm alanları doldurunuz</span>
                                </div>

                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    @Html.TextBoxFor(x => x.CustomerName,new { @class = "form-control" , @placeholder = "Firma Adı" })
                                    <div class="form-control-feedback">
                                        <i class="icon-user-plus text-muted"></i>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-feedback form-group-feedback-right">
                                           
                                            @Html.TextBoxFor(x => x.CompanyAdminName,new { @class = "form-control" , @placeholder = "Firma Temsilci Adı" })
                                            <div class="form-control-feedback">
                                                <i class="icon-user-check text-muted"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-feedback form-group-feedback-right">
                                            
                                            @Html.TextBoxFor(x => x.CompanyAdminSurname,new { @class = "form-control" , @placeholder = "Firma Temsilci Soyadı" })
                                            <div class="form-control-feedback">
                                                <i class="icon-user-check text-muted"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-feedback form-group-feedback-right">
                                            
                                            @Html.TextBoxFor(x => x.TcknVkn,new { @class = "form-control" , @placeholder = "Temsilci TCKN veya VKN" })
                                            <div class="form-control-feedback">
                                                @*<i class="icon-user-check text-muted"></i>*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-feedback form-group-feedback-right">
                                            @*<input type="email" class="form-control" placeholder="E-Posta Adresi">*@
                                            @Html.TextBoxFor(x => x.Email,new { @class = "form-control" , @placeholder = "E-Posta Adresi" })
                                            <div class="form-control-feedback">
                                                <i class="icon-mention text-muted"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-feedback form-group-feedback-right">
                                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Şifre" })
                                            <div class="form-control-feedback">
                                                <i class="icon-user-lock text-muted"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-feedback form-group-feedback-right">
                                            @Html.TextBoxFor(x => x.RePassword, new { @class = "form-control", @placeholder = "Şifre Tekrar" })
                                            <div class="form-control-feedback">
                                                <i class="icon-user-lock text-muted"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group form-group-feedback form-group-feedback-right">
                                            @Html.TextBoxFor(x => x.CompanyTelephone, new { @class = "form-control", @placeholder = "Telefon Numarası" })
                                            <div class="form-control-feedback">
                                                <i class="icon-phone text-muted"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-feedback form-group-feedback-right">
                                          
                                            @Html.TextBoxFor(x => x.CompanyWebUrl, new { @class = "form-control", @placeholder = "Firma Web Adresi" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">


                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-input-styled" data-fouc>
                                            <a href="#">Üyelik şartlarını Kabul ediyorum.</a>
                                        </label>
                                    </div>
                                </div>

                                <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i class="icon-plus3"></i></b> Hesap Oluştur</button>
                            </div>
                        </div>
                    </div>
                </div>


            @*</form>*@

            }
            <!-- /registration form -->


        </div>

        <!-- /content area -->



        <!-- Footer -->

        <div class="navbar navbar-expand-lg navbar-light">

            <div class="text-center d-lg-none w-100">

                <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">

                    <i class="icon-unfold mr-2"></i>

                    Footer

                </button>

            </div>


            <div class="navbar-collapse collapse" id="navbar-footer">

                @*<span class="navbar-text">

                    &copy; 2015 - 2018. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>

                </span>


                <ul class="navbar-nav ml-lg-auto">

                    <li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>

                    <li class="nav-item"><a href="http://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>

                    <li class="nav-item"><a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>

                </ul>*@

            </div>

        </div>

        <!-- /footer -->


    </div>

    <!-- /main content -->


</div>

<!-- /page content -->

</body>

</html>

