@model Ginosis.Banat.MvcWebUI.Models.Machine.MachineUpdateViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<div class="card" id="updateMachineForm">
    <div class="card-header bg-white header-elements-inline">
        <h5 class="card-title"><strong>Makine Güncelleme Sayfası</strong></h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Update", "Machine", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="Type">Adı</label>
            @Html.TextBoxFor(x => x.Machine.Name, new { @class = "form-control", @placeholder = "Adı" })
            @Html.HiddenFor(x => x.Machine.Id)

        </div>

            <div class="form-group">
                <label for="Type">Kodu</label>
                @Html.TextBoxFor(x => x.Machine.Code, new { @class = "form-control", @placeholder = "Kodu" })
            </div>

            <div class="form-group">
                <label for="Type">Güç</label>
                @Html.TextBoxFor(x => x.Machine.Power, new { @class = "form-control", @placeholder = "Güç" })
            </div>

            <div class="form-group">
                <label for="Type">Yıl</label>
                @Html.TextBoxFor(x => x.Machine.Date, new { @class = "form-control", @placeholder = "Yıl" })
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>

        }
    </div>
</div>


